*, ::after, ::before {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    border-radius: 10px;
    padding: 20px;
}

.assets {
    width: 40%;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid rgb(124, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
}

.territory {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 10px;
    padding: 20px;
}

.empty {
    width: 80px;
    height: 80px;
    margin: 1px;
    background-color: rgb(194, 194, 194);
    border-radius: 3px;
    border: 1px solid #999;
}


.drop__box {
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 1px;
    background-color: rgb(0, 255, 255) !important;
    z-index: 2;
}

